{% extends 'admin/admin-template.html.twig' %}
{% block title %}AMNet Birse{% endblock %}

{% block content %}
    <div class="offset-main">
        <h1 class="page-title">Liste des utilisateurs du service AMNet</h1>
        <div class="row" style="padding: 0 40px;">
            <div class="col-10">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Nom d'utilisateur</th>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>Bucque</th>
                            <th>Fam'ss</th>
                            <th>Prom'ss</th>
                            <th>MAC</th>
                            <th>Cotisation</th>
                            <th>Rang</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    {% for user in user_list %}
                    <tr id="{{ loop.index }}">
                        <td>#{{ loop.index }}</td>
                        <td><a href="/admin/users/profile/{{ user.user_id }}">{{ user.user_name }}</td>
                        <td>{{ user.user_firstname }}</td>
                        <td>{{ user.user_lastname }}</td>
                        <td>{{ user.user_email }}</td>
                        <td>{{ user.user_bucque }}</td>
                        <td>{{ user.user_fams }}</td>
                        <td>{{ user.user_proms }}</td>
                        <td>{{ user.mac_count }}</td>
                        <td>{% if user.user_pay_status == 1 %}
                            <span class="badge badge-green">Payée</span>
                            {% else %}
                            <span class="badge badge-red">Non payée</span>
                            {% endif %}
                        </td>
                        <td>{{ user.user_rank }}</td>
                        <td>
                            {% if user.user_pay_status == 1 %}
                                <a href="/admin/users/update-pay-status/{{ user.user_id }}/0" class="btn btn-orange btn-sm">Annuler le paiement</a>
                            {% else %}
                                <a href="/admin/users/update-pay-status/{{ user.user_id }}/1" class="btn btn-green btn-sm">Confirmer le paiement</a>
                            {% endif %}
                            <a id="delete" href="/admin/users/delete-user/{{ user.user_id }}" class="btn btn-red btn-sm">Supprimer</a>
                            <a href="/admin/users/grant-user/{{ user.user_id }}/{% if user.user_rank=='user' %}admin{% else %}user{% endif %}" class="btn btn-blue btn-sm">
                                {% if user.user_rank=='user' %}
                                    Promouvoir
                                {% else %}
                                    Rétrograder
                                {% endif %}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="col-2">
                <a href="/admin/users/udate-all-pay-status/0" class="btn btn-orange" style="width: 100%;">Annuler tous les paiements</a>
                <br/><br/>
                <a href="/admin/users/udate-all-pay-status/1" class="btn btn-green" style="width: 100%;">Confirmer tous les paiements</a>
                <div class="search-field" style="padding: 0 10px; position: fixed;">
                    <!--
                        <h2>Champ de recherche</h2>
                        <h3>TODO</h3>
                    -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}