{% extends 'admin/admin-template.html.twig' %}
{% block title %}AMNet Birse{% endblock %}


{% block content %}
	<div class="offset-main">
		<h1 class="page-title">Espace d'administration</h1>
		<div class="row">
			<div class="col-6">
				<div class="card">
					<h3 class="card-title">Etat des demandes</h3>
					<hr>
					<p>
						Nombre d'utilisateurs: {{ nb_users }}<br/>
						Nombre d'utilisateurs n'ayant pas payé la cotiz': {{ nb_cotiz }}<br/>
						<br/>
						Demandes d'accès internet: {{ nb_access_request }}<br/>
						Demandes de matériel: {{ nb_material_request }}<br/>
						<br/>
						Nombre de tickets ouverts: {{ nb_tickets }}<br/>					
					</p>
					<div class="spacer vertical-100">&nbsp;</div>
				</div>
			</div>

			<div class="col-6">
				<div class="card">
					<h3 class="card-title">Paramètres</h3>
					<hr>
					<p></p>
					<form method="POST" action="/admin/update-settings/">
						<div class="form-group">
							<div class="row">
								<div class="col-6">
									<label for="api_token">Clé d'API: </label>
								</div>
								<div class="col-6">
									<button type="button" class="btn btn-xs btn-red" onClick="generateToken()">Générer un nouveau token</button>
									<script type="text/javascript">
										function makeid(length) {
											var result           = '';
											var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
											var charactersLength = characters.length;
											for ( var i = 0; i < length; i++ ) {
												result += characters.charAt(Math.floor(Math.random() * charactersLength));
											}
											return result;
										}
										let generateToken = function(e){
											let el = document.getElementById("api_token");
											el.value = makeid(58);
										}
									</script>
								</div>
							</div>
							<br/>
							<input type="text" name="api_token" id="api_token" value="{{setting.api_token}}" class="form-control" />
						</div>

						<div class="form-group">
							<label for="lydia_token">Clé d'API Lydia: </label>
							<input type="text" name="lydia_token" value="{{setting.lydia_token}}" placeholder="currently unused..." class="form-control" />
						</div>

						<div class="form-group">
							<label for="lydia_token">Montant de la cotisation: </label>
							<input type="number" name="lydia_cotiz" step="0.1" value="{{setting.lydia_cotiz}}" class="form-control" />
						</div>

						<div class="form-group">
							<label for="lydia_token">Promotion active: </label>
							<input type="text" name="active_proms" value="{{setting.active_proms}}" class="form-control" />
						</div>

						<input class="btn btn-green" type="submit" style="width: 100%;" value="Mettre à jour" />
					</form>
				</div>
			</div>
		</div>

		<br/><br/>

		<div class="row">
			<div class="col-12">
				<div class="card">
					<h3 class="card-title">Message d'actualité</h3>
					<hr>
					<form method="POST" action="/admin/update-news-message/">
						<textarea style="width: 100%;height: 200px;resize: none;" name="news_message">{{ setting.news_message }}</textarea>
						<div class="form-group">
							<input type="submit" class="btn btn-blue" value="Mettre à jour" style="width: 100%" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}