<html>
    {% include '/utils/headers.html.twig' %}

    <body>
        {% include '/utils/menu.html.twig' %}

        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col"></div>
                <div class="h-100 col-10 main-content-bg">
                    <div class="container">
                        <br/>
                        <h4>Vos tickets</h4>
                        <br/><br/>
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Sujet</th>
                                    <th>Etat</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            {% for ticket in tickets %}
                                <tr id="{{ loop.index }}">
                                    <td>#{{ loop.index }}</td>
                                    <td>{{ ticket.ticket_subject }}</td>
                                    <td>{% if ticket.ticket_state == 0 %}<span class="badge badge-success">Ouvert</span>{% else %}<span class="badge badge-danger">Fermé</span>{% endif %}</td>
                                    <td>
                                        <a href="/tickets/view-ticket/?ticket_id={{ticket.ticket_id}}" class="btn btn-sm btn-primary"><i class="fas fa-comments"></i> Accéder</a>
                                        {% if ticket.ticket_state == 0 %}<a href="/tickets/close-ticket/{{ticket.ticket_id}}" class="btn btn-sm btn-danger"><i class="fas fa-time"></i> Clôturer</a>{% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>

        {% include '/utils/js_imports.html.twig' %}
    </body>
</html>