{% extends 'utils/template.html.twig' %}
{% block title %}AMNet Birse{% endblock %}

{% block content %}
    <div class="offset-main">
        <h1 class="page-title">Vos demandes d'accès internet</h1>
        <div style="padding: 0 40px;">
            <p>
                Cette page est utile uniquement pour les appareils qui ne peuvent pas se connecter à AMNet Wi-Fi. C'est à dire les objets connectés, comme les enceintes, les chromecasts ou les consoles de jeux.<br/>
                Cependant nous vous conseillons vivement de brancher votre console en Ethernet (débit plus élevé, ping plus faible et meilleure stabilité)
                <br/><br/>
                La démarche est la suivante :
                <ul>
                    <li>Il faut renseigner l'adresse physique (aussi appelé MAC) de votre appareil ainsi qu'une photo où l'on distingue clairement l'objet et l'adresse mac qui lui est associée.</li>
                    <li>Attendre qu'un administrateur valide votre demande (2-3 jours, si ce n'est pas le cas dépassé ce laps de temps merci d'envoyer un mail à contact@amnet.fr)</li>
                    <li>Une fois la demande validée vous pouvez connecter votre appareil au réseau AMNet IoT</li>
                </ul>
            </p>
        </div>
        <div class="row" style="padding: 0 40px;">
            <div class="col-10">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Désignation</th>
                            <th>Adresse MAC</th>
                            <th>Etat</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    {% for access in access_list %}
                        <tr id="{{ loop.index }}">
                            <td>#{{ loop.index }}</td>
                            <td>{{ access.access_description }}</td>
                            <td>{{ access.access_mac }}</td>
                            <td>
                                {% if access.access_state == "pending" %}
                                    <span class="badge badge-orange">En cours</span>
                                {% elseif access.access_state == "suspended" %}
                                    <span class="badge badge-red">Suspendu</span>
                                {% else %}
                                    <span class="badge badge-green">Activé</span>
                                {% endif %}
                            </td>
                            <td><a id="delete" href="/internet/delete/{{ data.user_id }}/{{ access.access_id }}/" class="btn btn-red btn-sm">Supprimer</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="col-2 search-field">
                <button data-toggle="adding-modal-form" style="width: 100%;" class="btn btn-blue btn-sm"><i class="fa fa-plus"></i>&nbsp;&nbsp;Nouvelle demande</button>  
            </div>
        </div>
    </div>

    <div class="modal" id="adding-modal-form">
        <div class="modal-content">
            <h2>Ajouter un objet connecté</h2>
            <form method="POST" action="/internet/add-request/" enctype="multipart/form-data">
                <input type="hidden" name="userId" value="{{ data.user_id }}" />

                <div class="form-group">
                    <label>Adresse MAC de l'équipement</label>
                    <input type="text" class="form-control" name="macAddr" required="required" placeholder="Par exemple: 5E:FF:56:A2:AF:15"/>
                </div>
                <div class="form-group">
                    <label>Description de l'équipement</label>
                    <input type="text" class="form-control" required="required" name="description"/>
                </div>
                <div class="form-group">
                    <label>Photographie de l'objet avec adresse mac visible</label>
                    <input type="file" name="photoProof" accept=".jpg,.png,.jpeg">
                </div>
                <div class="form-group">
                    <input type="submit" value="Envoyer la demande" class="btn btn-blue btn-sm" required/>
                </div>
            </form>
        </div>
    </div>

    {% if query.error == "1" %}
        <!-- Missing image on form submit -->
		<div class="modal" style="display: block;" >
			<div class="modal-content">
				<h1>Preuve image manquante</h1>
				<ul>
                    <li>Vous devez joindre une image à votre demande d'ajout</li>
                </ul>
			</div>
		</div>
	{% endif %}

    {% if query.error == "2" %}
        <!-- Mac address already registered -->
		<div class="modal" style="display: block;" >
			<div class="modal-content">
				<h1>Adresse mac déjà enregistrée</h1>
				<ul>
                    <li>L'adresse mac que vous avez spécifiée est déjà enregistrée, contactez un administrateur si l'accès ne fonctionne pas</li>
                </ul>
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/js/handle-modal.js"></script>
{% endblock %}
