<html>
    {% include '/utils/headers.html.twig' %}

    <body>
        {% include '/utils/menu.html.twig' %}

        <div class="container-fluid">
            <div class="row">
                <div class="col"></div>
                <div class="col-10 main-content-bg">
                    <div class="container">
                        <br/>
                        <h4 style="display: inline;">Vous souhaitez effectuer une demande d'accès ? </h4> <a href="/internet/request-access/" class="btn btn-outline-primary">Cliquez ici !</a>
                        <br/><br/>
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Désignation</th>
                                    <th>Adresse MAC</th>
                                    <th>Etat</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            {% for access in access_list %}
                                <tr id="{{ loop.index }}">
                                    <td>#{{ loop.index }}</td>
                                    <td>{{ access.access_description }}</td>
                                    <td>{{ access.access_mac }}</td>
                                    <td>
                                        {% if access.access_state == "pending" %}
                                            <span class="badge badge-warning">En cours</span>
                                        {% elseif access.access_state == "suspended" %}
                                            <span class="badge badge-danger">Suspendu</span>
                                        {% else %}
                                            <span class="badge badge-success">Activé</span>
                                        {% endif %}
                                    </td>
                                    <td><a id="delete" href="/internet/delete-access/?access_id={{ access.access_id }}&user_id={{ data.user_id }})" class="btn btn-danger btn-sm">Supprimer</a></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>

        {% include '/utils/js_imports.html.twig' %}
    </body>
</html>