<html>
    {% include '/utils/headers.html.twig' %}

    <body>
        {% include '/utils/menu.html.twig' %}

        <div class="container-fluid">
            <div class="row">
                <div class="col"></div>
                <div class="col-10 main-content-bg">
                    <div class="container">
                        <br/>
                        <h4 style="display: inline;">Liste des utilisateurs du service AMNet</h4>
                        <br/><br/>
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Nom d'utilisateur</th>
                                    <th>Prénom</th>
                                    <th>Nom</th>
                                    <th>Email</th>
                                    <th>Bucque</th>
                                    <th>Fam'ss</th>
                                    <th>Prom'ss</th>
                                    <th>MAC</th>
                                    <th>Rang</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            {% for user in user_list %}
                                <tr id="{{ loop.index }}">
                                    <td>#{{ loop.index }}</td>
                                    <td><a href="/user/profile/{{ user.user_id }}">{{ user.user_name }}</a></td>
                                    <td>{{ user.user_firstname }}</td>
                                    <td>{{ user.user_lastname }}</td>
                                    <td>{{ user.user_email }}</td>
                                    <td>{{ user.user_bucque }}</td>
                                    <td>{{ user.user_fams }}</td>
                                    <td>{{ user.user_proms }}</td>
                                    <td>{{ user.mac_count }}</td>
                                    <td>{{ user.user_rank }}</td>
                                    <td>
                                        <a id="delete" href="/access/delete-user/{{ user.user_id }}" class="btn btn-danger btn-sm">Supprimer</a>
                                        <a href="/access/grant-user/{{ user.user_id }}/{% if user.user_rank=='user' %}admin{% else %}user{% endif %}" class="btn btn-info btn-sm">
                                            {% if user.user_rank=='user' %}
                                                Promouvoir
                                            {% else %}
                                                Rétrograder
                                            {% endif %}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>

        {% include '/utils/js_imports.html.twig' %}
    </body>
</html>