<html>
    {% include '/utils/headers.html.twig' %}

    <body>
        {% include '/utils/menu.html.twig' %}

        <div class="container-fluid">
            <div class="row">
                <div class="col"></div>
                <div class="col-10 main-content-bg">
                    <div class="container">
                        <h1>Visualisation du profil de {{user_data.user_firstname}} {{user_data.user_lastname}} &bull; {{user_data.user_bucque}} {{user_data.user_fams}}li{{user_data.user_proms}}</h1>
                        <br/>
                        
                        <div class="form-group">
                            <label>Nom d'utilisateur</label>
                            <input type="text" class="form-control" disabled value="{{user_data.user_name}}"/>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <label>Prénom</label>
                                    <input type="text" class="form-control" disabled value="{{user_data.user_firstname}}"/>
                                </div>
                                <div class="col">
                                    <label>Nom</label>
                                    <input type="text" class="form-control" disabled value="{{user_data.user_lastname}}"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Adresse email</label>
                            <input type="email" class="form-control" disabled value="{{user_data.user_email}}"/>
                        </div>

                        <div class="form-group">
                            <label>Identifiant gadzarts</label>
                            <input type="text" class="form-control" disabled value="{{user_data.user_bucque}}  {{user_data.user_fams}}li{{user_data.user_proms}}"/>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>

        {% include '/utils/js_imports.html.twig' %}
    </body>
</html>