{% extends 'utils/template.html.twig' %}
{% block title %}Inscription &bull; AMNet Birse{% endblock %}
{% block optional_style %}
    <style>
        body 
        {
            background-image: url('/img/cable_management.png');
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <div class="row" style="padding: 30px 0;">
        <div class="col-3"></div>
        <div class="col-6 container" id="login-container">
            <a href="/"><h1 class="heading centered">Espace AMNet - Birse</h1></a>
            <br/>
            <h2 class="centered">Inscription</h2>
            <br/>
            {% if no_charte %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h4 class="alert-heading">Attention</h4>
                    <hr/>
                    <p>Vous devez accepter la charte pour valider votre inscription</p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <br/>
            {% endif %}
            <form method="POST" action="/users/process_signin/">
                <div class="form-group">
                    <label for="username">Nom d'utilisateur</label>
                    <input type="text" required="required" name="username" />
                </div>
                <br/>
                <div class="form-group">
                    <div class="row">
                        <div class="col-5">
                            <label>Prénom</label>
                            <input type="text" class="form-control" required="required"  name="firstname" placeholder="Prénom"/>
                        </div>
                        <div class="col-2"></div>
                        <div class="col-5">
                            <label>Nom</label>
                            <input type="text" class="form-control" required="required"  name="lastname" placeholder="Nom"/>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="form-group">
                    <label>Adresse email</label>
                    <input type="email" class="form-control" required="required"  name="email" placeholder="Adresse Email"/>
                </div>

                <div class="form-group">
                    <label>Téléphone</label>
                    <input type="tel" class="form-control" required="required"  name="phone" placeholder="Numéro de téléphone "/>
                </div>

                <div class="form-group">
                    <label>Bucque</label>
                    <input type="text" class="form-control" name="bucque" placeholder="Exemple: Hard Win'ss"/>
                </div>

                <div class="form-group">
                    <label>Fam'ss</label>
                    <input type="text" class="form-control" name="fams" placeholder="Exemple: 58"/>
                </div>

                <div class="form-group">
                    <label>Prom'ss</label>
                    <select name="user_proms_select" id="user_proms_select" class="form-control">
                        <option selected value="{{setting.active_proms - 1}}">{{setting.active_proms - 1}}</option>
                        <option value="{{setting.active_proms}}">{{setting.active_proms}}</option>
                        <option value="{{setting.active_proms + 1}}">{{setting.active_proms}}+1</option>
                        <option value="autre" onClick="otherPromsField()">Autre</option>
                    </select>
                    <input style="display: none;" type="text" id="user_proms_text" class="form-control" name="user_proms_text" />
                    <input type="hidden" name="select_or_text" id="select_or_text" value="select" />
                    <script type="text/javascript">
                        let otherPromsField = function(){
                            let el = document.getElementById("user_proms_select");
                            el.style.display = "none";

                            let text_el = document.getElementById("user_proms_text");
                            text_el.style.display = "block";
                            select_or_text.value = "text";
                        }
                    </script>
                    {# <input type="text" class="form-control" name="proms" placeholder="Exemple: 218"/> #}
                </div>

                <div class="form-group">
                    <label>Mot de passe</label>
                    <input type="password" class="form-control" required="required"  name="password" />
                </div>

                <div class="form-group">
                    <label>Confirmez votre mot de passe</label>
                    <input type="password" class="form-control" required="required"  name="password_confirmation" />
                </div>

                <div class"form-group">
                    <label>Vous devez accepter la charte AMNet pour vous inscrire: <a href="/docs/charte.pdf">Télécharger la charte</a></label>&nbsp;&nbsp;
                    <input type="radio" name="check_charte" value="true"/>Accepter&nbsp;&nbsp;
                    <input type="radio" name="check_charte" value="false" checked="checked"/>Refuser
                </div>
                <br/>
                <div class="form-group">
                    <input type="submit" class="btn btn-birse" style="height: 50px;" value="Inscription" />
                </div>
            </form>
            <div class="spacer vertical-200">&nbsp;</div>
        </div>
        <div class="col"></div>
    </div>

    <!-- Empty field -->
	{% if signin_failed and fail_reason == "empty_field" %}
		<div class="modal" style="display: block;" >
			<div class="modal-content">
				<h1>Au moins l'un des champs est vide</h1>
				<p>Vous devez renseigner tous les champs pour compléter votre inscription.</p>
			</div>
		</div>
	{% endif %}
    {% if signin_failed and fail_reason == "no_charte" %}
		<div class="modal" style="display: block;" >
			<div class="modal-content">
				<h1>Vous n'avez pas accepté la charte AMNet</h1>
				<p>Vous devez cocher la case permettant d'accepter la charte AMNet pour compléter votre inscription.</p>
			</div>
		</div>
	{% endif %}
    {% if signin_failed and fail_reason == "username_already_used" %}
		<div class="modal" style="display: block;" >
			<div class="modal-content">
				<h1>Ce nom d'utilisateur est déjà utilisé</h1>
				<ul>
                    <li>Si vous ne vous souvenez plus de votre mot de passe, utilisez la fonction "mot de passe oublié" sur l'écran de connexion</li>
                    <li>Si vous n'avez pas de compte AMNet, essayez un nom d'utilisateur différent</li>
                </ul>
			</div>
		</div>
	{% endif %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/handle-modal.js"></script>
{% endblock %}